{% extends "a1.html" %}
{% block m1 %}

<h1>Admin Registration</h1>

<form method="post" onsubmit="return A()" action="../admin_reg/">
     {% csrf_token %}
    <table cellpadding="4">


        <tr>
            <td>Name</td>
            <td><input type="text" name="T1" id="txt1">
                <span id="sp1"></span></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="T2" id="txt2">
                <span id="sp2"></span></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="text" name="T3" id="txt3">
                <span id="sp3"></span></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="T4" id="txt4">
                <span id="sp4"></span></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="T5" id="txt5">
                <span id="sp5"></span></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="T6" id="txt6">
                <span id="sp6"></span></td>
        </tr>
        <tr>
            <td> <button type="submit" value="REGISTER" name="B1">REGISTER</button></td>
        </tr>



    </table>
</form>

<script>
	function A()
	{
		var t1,t2,t3,t4,t5,t6;
		var s1,s2,s3,s4,s5,s6;

		t1=document.getElementById("txt1");
		t2=document.getElementById("txt2");
		t3=document.getElementById("txt3");
		t4=document.getElementById("txt4");
		t5=document.getElementById("txt5");
		t6=document.getElementById("txt6");

		s1=document.getElementById("sp1");
		s2=document.getElementById("sp2");
		s3=document.getElementById("sp3");
		s4=document.getElementById("sp4");
		s5=document.getElementById("sp5");
		s6=document.getElementById("sp6");

		var a,b,c,d,e,f,g;
		a=t1.value;
		b=t2.value;
		c=t3.value;
		d=t4.value;
		e=t5.value;
		f=t6.value;

		//clear old message if any
		s1.innerHTML="";
		s2.innerHTML="";
		s3.innerHTML="";
		s4.innerHTML="";
		s5.innerHTML="";
		s6.innerHTML="";

		if(a==null || a=="")
		{
			s1.innerHTML="Enter name";
			t1.focus();
			return false;
		}
		else if(check_alpha(a)==false)
		{
			s1.innerHTML="Enter valid name";
			t1.select();
			return false;
		}
		else if(b==null || b=="")
		{
			s2.innerHTML="Enter address";
			t2.focus();
			return false;
		}
		else if(c==null || c=="")
		{
			s3.innerHTML="Enter contact";
			t3.focus();
			return false;
		}
		else if(check_digits(c)==false)
		{
			s3.innerHTML="Enter only digits";
			t3.focus();
			return false;
		}
		else if(c<6000000000 || c>9999999999)
		{
			s3.innerHTML="Enter valid 10 digits";
			t3.focus();
			return false;
		}
		else if(d==null || d=="")
		{
			s4.innerHTML="Enter email";
			t4.focus();
			return false;
		}
		else if(e==null || e=="")
		{
			s5.innerHTML="Enter password";
			t5.focus();
			return false;
		}
		else if(f==null || f=="")
		{
			s6.innerHTML="Enter confirm password";
			t6.focus();
			return false;
		}
		else if(check_pass(e,f)==false)
		{
			t5.value="";
			t6.value="";
			s5.innerHTML="Password does not match";
			return false;
		}
	}


	function check_alpha(s)
	{
		var f=true;
		var n=s.length;
		for(var i=0;i<n;i++)
		{
			var ch=s.charAt(i);
			if(ch>='a'&&ch<='z' || ch>='A'&&ch<='Z' || ch==' ')
			{
				f=true;
			}
			else
			{
				f=false;
				break; //stop loop
			}
		}
		return f;
	}

	function check_digits(s)
	{
		var f=true;
		var n=s.length;
		for(var i=0;i<n;i++)
		{
			var ch=s.charAt(i);
			if(ch>='0'&&ch<='9')
			{
				f=true;
			}
			else
			{
				f=false;
				break; //stop loop
			}
		}
		return f;
	}

	function check_pass(p1,p2)
	{
		if(p1==p2)
		{
			return true;
		}
		else
		{
			return false;
		}
	}

	function check_alpha(s)
	{
		var f=true;
		var n=s.length;
		for(var i=0;i<n;i++)
		{
			var ch=s.charAt(i);
			if(ch>='a' && ch<='z' || ch>='A' && ch<='Z' || ch==' ')
			{
				f=true;
			}
			else
			{
				f=false;
				break;
			}
		}
		return f;
	}

</script>
 {% if data %}
    <h2>{{data}}</h2>
    {% endif %}

{% endblock %}