{% extends "a1.html" %}
{% block m1 %}

<h1>ADMIN DATA </h1>
{% if data %}
    {% for k in data %}
    <table cellpadding="4">
        <form method="post" action="../edit_admin_1/">
            {% csrf_token %}
            <tr>
                <td>Name </td>
                <td><input type="text" name="T1" value="{{k.Name}}"></td>
            </tr>
            <tr>
                <td>Address </td>
                <td><input type="text" name="T2" value="{{k.Address}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="T3" value="{{k.Contact}}"></td>
            </tr>
            <tr>
                <td>Email </td>
                <td><input type="text" name="T4" value="{{k.Email}}"></td>
            </tr>
            <tr>
                <td><button type="submit" name="B1" value="EDIT CHANGES">EDIT CHANGES</button></td>
            </tr>
        </form>
    </table>
    {% endfor %}
{% endif %}


{% endblock %}