{% extends "a1.html" %}
{% block m1 %}

<h1>Show Opertor</h1>
{% if data1 %}
{% for k in data1 %}
    <img src="../media/{{k.Photo}}" width="100" height="100"/>
{% endfor %}
{% endif %}

{% if key1 %}
{% for k in key1 %}
    <br/>
<table cellspacing="4">
    <tr>
        <td>Name</td>
        <td>{{k.Name}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{k.Address}}</td>
    </tr>
    <tr>
        <td>Contact</td>
        <td>{{k.Contact}}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{k.Email}}</td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <form method="post" action="../edit_operator/">
                {% csrf_token %}
                <input type="hidden" name="H1" value="{{k.Email}}">
                <input type="submit" name="B1" value="Edit">
            </form>
        </td>
        <td>
             <form method="post" action="../delete_operator/">
                {% csrf_token %}
                <input type="hidden" name="H1" value="{{k.Email}}">
                <input type="submit" name="B1" value="Delete">
            </form>
        </td>
    </tr>

</table>
{% endfor %}
{% endif %}

<button><a href="../admin_home/">Back</a></button>

{% endblock %}